* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card {
    margin: 20px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
}
#card img {
    width: 200px;
    height: 130px;
    border-radius: 7px;
}
#card:hover {
    transition: transform 0.1s;
    transform: translateY(2px) scale(1.2);
}
.nome {
    width: 180px;
    background-color: rgb(238, 238, 238);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.descricao {
    text-align: center;
    color: gray;
}
button {
    font-weight: bold;
    color: #FFF;
    margin-top: 5px;
    border: none;
    background-color: rgb(68, 149, 255);
    padding: 5px;
    box-shadow: 1px 1px 3px rgb(170, 170, 170);
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    margin-left: 40px;
}
body a {
    color: black;
    text-decoration: none;
}