
* {
     margin: 0;
     padding: 0;
     font-family: 'Arial', sans-serif;
     font-weight: bolder;
}

body {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.main {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 300px;
     width: 650px;
     border-radius: 15px;
     box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.5);
     border: 0.3px solid rgba(0, 0, 0, 0.1);
}
.main div {
     height: 170px;
     width: 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: rgb(255, 157, 0);
     background-color: rgb(0, 0, 0, 0.9);
     box-shadow: 0px 10px 50px rgb(0, 0, 0);
     border-radius: 30px;
     letter-spacing: 3px;
}
.main div:hover {
     cursor: pointer;
     transition: transform 0.3s;
     transform: scale(1.1);
     box-shadow: 0px 0px 20px white;
}
.main span {
     font-weight: bolder;
     font-size: 60px;
}
.main span.tempo {
     font-size: 12px;
}