:root{
    --light-teste:#FFFFFF;
    --light:#D1DEE9;
    --mid:#8197A9;
    --dark:#283845;
    --darkest:#202C39;
    --brand:#97591c;
}

*{
    font-family: 'Poppins','Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}
span{
    color: var(--brand);
}
h1{
    font-size: 3em ;
    color: black;
}
.container{
    width: 80%;
    max-width: 750px;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: var(--darkest) ;
    box-shadow: 1px 1px 5px var(--darkest);
    color: var(--light-teste);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
#texto-input{
    padding: 0.7em;
    border-radius: 10px;
    margin-right: 1em;
    width: 90%;
}
#texto-input:focus{
    outline: 1px solid var(--mid);
}
#cadastro{
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#tarefas{
    min-width: 90%;
}
ul{
    list-style: none;  
}
li{
    text-transform: capitalize;
    width: 100%;
    height: 2.2em;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    margin: 0.3em;
    padding: 0 5px;
    border-radius: 5px;
    align-items: center;
}
#cadastro button {
    background-color: var(--mid);
}
button.excluir {
    background-image: url(./img/excluir.png);
}
button.concluir {
    background-image: url(./img/concluir.png);
}
.excluir, .concluir {
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}
.excluir:hover, .concluir:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
#adicionar{
    padding: 0.7em;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}
#adicionar:hover{
    color: var(--light);
    transition: 0.3s;
}
.concluido {
    background-color: #008a00;
    color: var(--darkest);
    text-decoration: line-through;
}