#home {
    width: 100%;
    height: 780px;
    justify-content: space-between;
}
.apresentacao {
    width: 55%;
    height: 780px;
    float:inline-start;
    padding: 200px;
}
.apresentacao h2 {
    color: red;
    font-size: 4rem;
    text-shadow: 5px 5px 2px rgb(210, 210, 210);
}
.apresentacao h3 {
    font-size: 8rem;
    font-weight: bolder;
    text-shadow: 5px 5px 2px rgb(210, 210, 210);
}
.minhafoto {
    float: right;
    margin: auto 150px;
}
.minhafoto img {
    margin-top: 200px;
    width: 400px;
    height: 500px;
    border-radius: 200px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 20px gray; 
}