.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    background-color: rgb(168, 168, 168);

}
.projects a {
    text-decoration: none;
    color: white;
}
.projects img {
    border-radius: 10px;
}
.carrossel, .carousel-item {
    width: 70%;
    z-index: 0;
}