* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}
#menu-topo {
    background: linear-gradient(rgb(243, 243, 243), rgb(230, 230, 230));
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 7;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 3px;
}
.welcome {
    display: flex;
    float: left;
    align-items: center;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 2.4rem;
    margin-left: 150px;
}
#menu-topo ul {
    display: flex;
    float: right;
    column-gap: 30px;
    margin-right: 50px;
    align-items: center;
}
#menu-topo a {
    text-decoration: none;
    align-items: center;
    margin-top: 20px;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}
#menu-topo a:hover {
    color: red;
}
#menu-topo a:after {
    color: black;
}
