/* Geral */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, button, a {
    color: var(--text);
    font: 400 1rem "Mukta", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
  }
:root{
    --text:  #EDF1F7;
    --red:  #C51212;
    --blue:  #0041C2;
    --green:  #14B02D;
    --yellow:  #ffc12b;
}
/* video de fundo */
#video-background {
    z-index: -1; 
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
}
#video-background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video-background::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0; /* eixos */ 
    background-color: #0041C2;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/* cabeçalho */

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
}
header{
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1440px;
    padding-top: 25px;
}
header img{
    width: 150px;
    height: auto;
}
.navigaton {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}
.navigation_link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}
.navigation_link:hover {
    color: var(--red);

}
.navigation_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--red);
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.4s ;
    
}
.navigation_link:hover::after {
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s ;
}
.navigation_social {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
    cursor: pointer;
}
.navigation_social svg:hover {
    opacity: 1.4;
    transform: translateY(-6px);
}

/* Conteudo do centro */ 

main {
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    width: 100%;
    max-width: 1440px;
}
.main-container {
    width: 100%;
    max-width: 600px;
}
.main-container p {
    font-size: 1rem;
    margin: 20px 0 28px 28px;
}
.links-mid {
    display: flex;
    column-gap: 32px;
}
.links-mid a, button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3;

    transform: skew(-10deg);
}
.links-mid a {
    background: var(--red);
}
.links-mid button {
    background: transparent;
    border: 1px solid var(--red);
}