* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;;
    background: linear-gradient(#045933, #000000, #000000, #000000,#000000, #045933);
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 100px;
}
.meu-nome {
    display: flex;
    font-size: 6rem;
    color: #FFF;
    justify-content: center;
    align-items: center;
}
.minha-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.minha-img img {
    width: 240px;
    height: 300px;
    border-radius: 150px;
    border: 5px solid white;
    box-shadow: 0px 0px 25px #4effa4;
}
.descricao {
    margin-top: 50px;
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
}
.contatos {
    margin-top: 50px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links img {
    margin-top: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.links img:hover {
    transform: transition 0.5s;
    transform: translateY(3px) scale(1.2);
    box-shadow: 0px 0px 7px #045933;
}
#github {
    background-color: azure;
}
body a {
    color: white;
    text-decoration: none;
}
