* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body {
    background-color: #D4DEEE;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 50%;
    margin: 15px;
    background-color: white;
}
.main h1 {
    color:deeppink;
    font-size: 10em;
}
.main span {
    color: deeppink;
    font-weight: bold;
}
.lado-direito {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 45%;
}
.formulario {
    background-color: #D4DEEE;
    border: 3px solid white;
    width: 100%;
    height: 80%;
    padding: 1em;
}
.formulario form, input {
    margin: 5px;
}
.enviar {
    padding: 8px;
}
.register {
    background-color: #D4DEEE;
    border: 3px solid white;
    width: 100%;
    height: 35%;
    padding: 1em;
}
.register a {
    display: flex;
    align-items: center;
    justify-content: center;
}