
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
}
h1 {
    color: wheat;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    margin: auto;
}
.lista1, .lista2 {
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: auto;
    border: 1px solid black;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 30px;
    font-size: 1.3em;
}
ul {
    width: 100%;
    text-align: center;
}
li {
    text-align: center;
    width: 100%;
    border: 1px solid wheat;
    border-radius: 20px;
    margin-top: 10px;
    list-style: none;
    padding: 0.5em;
}
.lista1 li:hover {
    cursor: pointer;
    border: 1px solid green;
}
.lista2 li:hover {
    cursor: pointer;
    border: 1px solid red;
}
#botao {
    font-weight: bold;
    padding: 1em;
    font-size: 1.3em;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 0 15px black;
    background: linear-gradient(90deg, wheat, white, wheat);
}
#botao:active {
    box-shadow: none;
}
.lista1 .selecionado {
    box-shadow: 0 0 30px green;
    background-color: rgba(1, 87, 1, 0.5);
    border: 2px solid green;
    filter: brightness(10);
}
.lista2 .selecionado {
    box-shadow: 0 0 30px red;
    background-color: rgba(167, 0, 0, 0.5);
    border: 2px solid red;
    filter: brightness(10);
}
