* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     user-select: none;
}
body {
     width: 100vw;
     height: 100vh;
     text-align: center;
     background-color: #483d8b;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
}
body h1 {
     font-size: 3em;
     margin: 1em auto;
}
#informacoes {
     position: absolute;
     z-index: 1;
     left: 0;
     top: 0;
     font-size: 0.4em;
     margin: auto 1em;
     padding: 0.5em;
}
.tabuleiro {
     display: inline-block;
     align-items: center;
     justify-content: center;
     background-color: white;
     height: 33em;
     width: 30em;
     border-radius: 10%;
     padding: 2em;
}
.quadrado {
     text-align: center;
     width: 3em;
     background-color: darkslateblue;
     display: inline-block;
     padding: 1em 1em;
     font-size: 2.5em;
     margin: 5px;
     cursor: pointer;
     color: darkslateblue;
     border-radius: 20px;
     box-shadow: 0 0 20px gray;
}
.jogador, .vencedor {
     flex-direction: column;
     font-size: 2em;
     margin-top: 10px;
}
button {
     margin-top: 20px;
     padding: 1em;
     background-color: #483d8b;
     color: white;
     cursor: pointer;
     border-radius: 15px;
}