
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}
#enviar, input{
    padding: 0.3em 0.7em;
}
.informacoes {
    display: block;
    margin: 0 auto;
}