* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    user-select: none;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2em;
}
#produtos {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25em;
    height: auto;
    background: transparent;
    box-shadow: 5px 5px 10px gray;
    margin: 10px 10px;
    padding: 1em;
    overflow: hidden;
}
#imagemProduto {
    width: 16em;
    height: 20em;
    border-radius: 10%;
}
#nomeProduto {
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em auto;
}
#descricaoProduto {
    text-align: justify;
    margin: 1em 1em;
}
#precoProduto {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
#comprar {
    padding: 0.5em 1em;
    border-radius: 20px;
}