* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
#container {
     width: 100vw;
     height: 100vh;
}
#menuTopo {
     width: 100%;
     height: 90px;
     background-color: black;
     color: goldenrod;
     padding: 1em;
     display: flex;
     justify-content: space-between;
}
.divTopo {
     display: flex;
     align-items: center;
     justify-content: start;
}
#logo {
     width: 320px;
     height: 120px;
}
#menuTopo ul {
     display: flex;
     list-style: none;
}
#menuTopo li {
     margin: 20px;
     cursor: pointer;
}
#menuTopo li:hover {
     text-decoration: underline;
}
#botao {
     padding: 1em;
     background:transparent;
     color: white;
     border: 2px solid goldenrod;
     font-weight: bold;
     font-size: 1.1em;
     cursor: pointer;
}
#botao:hover {
     color: black;
     background: linear-gradient(90deg, gold, white, gold);
}
/* ============================================================= */
video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: fixed;
     z-index: -1;
}
main {
     width: 25%;
     height: 55%;
     margin: 7% auto;
     display: block;
     align-items: center;
     justify-content: center;
     padding: 1em;
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 30px;
}
main h1 {
     text-align: center;
     color: goldenrod;
     letter-spacing: 1.5px;
     font-weight: 800;
     font-family: serif;
}
form {
     margin: 2em;
     color: white;
}
form input {
     color: goldenrod;
     letter-spacing: 0.8px;
     width: 100%;
     padding: 7px;
     background-color: rgb(78, 78, 78);
     margin-top: 10px;
}
#enviar {
     padding: 1em;
     width: 100%;
     background:transparent;
     color: white;
     border: 2px solid goldenrod;
     font-weight: bold;
     font-size: 1.1em;
     cursor: pointer;
     border-radius: 30px;
     margin-top: 15px;
}
#enviar:hover {
     cursor: pointer;
     color: black;
     background: linear-gradient(90deg, goldenrod, white, goldenrod);
}