* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(./imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.entrar {
    float: right;
    width: 60px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    margin: 20px 20px;
    cursor: pointer;
}
.entrar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.logo-top {
    display: flex;
    margin: auto;
    width: 22vw;
    height: 15vh;
    margin-top: 50px;
}
section h1 {
    color: white;
    font-size: 6rem;
    text-align: center;
    margin-top: 50px;
}
section h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
.assistirGratis {
    display: flex;
    margin: auto;
    margin-top: 90px;
    justify-content: center;
    padding: 10px 5px;
    width: 18vw;
    height: 7vh;
    background-color: red;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
.assistirGratis a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}