* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
body {
     width: 100vw;
     height: 100vh;
     user-select: none;
     background: linear-gradient(45deg, blue, yellow, red, yellow, blue);
}
#container {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
#tempo {
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     padding: 1em;
     font-size: 10em;
     letter-spacing: 0.15em;
     margin: 25px auto;
     background: transparent;
     box-shadow: 0px 10px 30px black;
     border-radius: 30px;
     font-weight: bold;
     text-shadow: 2px 2px 20px black;
}
.cronometro {
     align-items: center;
     justify-content: center;
     width: auto;
     height: auto;
}
div button {
     cursor: pointer;
     width: 6em;
     height: auto;
     background: transparent;
     box-shadow: 0px 5px 10px black;
     border-radius: 30px;
     font-weight: bold;
}
div button:hover {
     filter: brightness(6);
}