@import url(./botao1.css);
@import url(./botao2.css);
@import url(./botao3.css);
@import url(./botao4.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--light);
}
:root {
    --light: white;
    --blue: blue;
    --orange: orange;
    --purple: purple;
    --green: green;
    --red: red;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 2em;
    gap: 1em;
    background: linear-gradient(#003a70, #56adff, #003a70);
    background-repeat: no-repeat;
}
button {
    width: 90%;
    cursor: pointer;
    padding: 1em;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: 4px 3px #313131;
}
button:active {
    box-shadow: inset 0px 5px #313131;
}