* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color:#20a2ca;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    background-color: #fff;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 2px 2px 5px 1px var(--background-color);
    font-size: 1.5em;

    & > input {
        width: 100%;
        height: 2em;
    }

    & > button {
        width: fit-content;
        cursor: pointer;
        background-color: #20a2ca;
        border: none;
        padding: 0.5em;
        color: #fff;
    }
}