* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(./imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.returnIndex {
    float: left;
    width: 40px;
    background-color: red;
    border-radius: 5px;
    margin: 20px 20px;
    cursor: pointer;
}
.returnIndex a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.logo-top {
    display: flex;
    margin: auto;
    width: 22vw;
    height: 15vh;
    margin-top: 50px;
}
.tela-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 400px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.75)  ;
    color: white;
    padding: 40px;
}
.emailLogin {
    width: 240px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(141, 141, 141);
    color: white;
    border: 0;
}
.senhaLogin {
    width: 240px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(141, 141, 141);
    color: white;
    border: 0;
}
.emailLogin:hover, .senhaLogin:hover {
    background-color: white;
    color: black;
}
.entrar {
    width: 260px;
    margin-top: 40px;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}
.entrar:hover {
    background-color: white;
    color: red;
}
input {
    letter-spacing: 2px;
}
#lembrarDeMim {
    margin-top: 10px;
    font-size: 0.8rem;
}
#helpMe {
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.loginRedesSociais {
    font-size: 0.7rem;
    margin-top: 14vh;
}
.loginRedesSociais img {
    width: 25px;
    height: 25px;
}
.loginRedesSociais a {
    text-decoration: none;
    color: white;
}
.loginRedesSociais p {
    margin-top: 0;
}
.loginRedesSociais strong {
    font-size: 16px;
}
@media (min-width: 200px) {
    body {
        background-size: cover;
    }
}